.project-pill {
  cursor: pointer;
  height: 50px;
  width: 250px;
  background: linear-gradient(60deg, #272e40 23.07%, #c67976 77.51%);
  border: 1px solid #01c0ea;
  border-radius: 58px;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 0.8rem;
}
