.custom-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.4px solid #c57876;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  /* transform: scale(0); */
  box-shadow: 1px 2px 2px black;
}
.custom-icon img {
  width: 50%;
  height: 50%;
  color: white;
}
.custom-icon:hover {
  cursor: pointer;
  background-color: rgba(118, 195, 197, 1);
  box-shadow: 2px 4px 8px 1px black;
  transform: scale(10px);
}
