.alert-container {
  position: absolute;
  top: -30px;
  padding: 5px;
  width: max-content;
  animation: fade-in-right ease-in-out 3s backwards;
  font-size: 0.6rem;
  border: 1px solid #c57876;
  background-color: rgba(118, 195, 197, 0.4);
  border-radius: 5px;
  z-index: 9;
  font-weight: bold;
}
.alert-container::after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #c57876;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  z-index: 10;
  /* transform: scaleZ(10); */
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}
