.work-page-main-container {
  display: flex;
  flex-direction: column;
}
.work-page-main-container > div {
  animation: fade-in-from-bottom cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s
    forwards;
}
.work-previous {
  margin-top: 10%;
}
.work-heading {
  font-weight: bolder;
  font-size: 4rem;
}
